.scrolling-text-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 3px;
    background-color: #98bdf5  ;
  }
  
  .scrolling-text {
    display: inline-block;
    background: linear-gradient(to right, white, white, white);
    -webkit-background-clip: text;
    /* padding-left: 100%; */
    animation: scroll 30s linear infinite;
    color:transparent;
    padding-top: 13px;
    font-size: 35px;
    font-family: 'TT Chocolates Trial Bold', sans-serif;
  }

  .text1{
    margin-left: 400px;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }