.scrolling-text-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 10px;
  }
  
  .scrolling-text {
    display: inline-block;
    background: linear-gradient(to right, #ff0099, #493240, #00f0ff);
    -webkit-background-clip: text;
    /* padding-left: 100%; */
    animation: scroll 30s linear infinite;
    color:transparent;
    font-style: italic;
    font-size: 30px;
  }

  .text1{
    margin-left: 400px;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }