body {
  font-family: 'Montserrat', sans-serif !important;
  
}

.App {
  text-align: center;
}

.App-header {
  background-color: #f2f4f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  color: black;
  box-shadow: 0 4px 2px -2px gray;
   height: 120px;
 
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.brand{
  display: flex;
  flex-direction: column;
  flex-grow: 1;

}
.enterprise{
  font-size: 14px;
  margin-bottom: 25px;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: pulse 2s infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 16px;
}



.logo-container {
  display: flex;
  align-items: center;
}


.brand-name {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  font-size: 4em;
  
}
.App-footer {
  background-color: #282c34;
  color: white;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
}

/* Form styles */
.form-container {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  margin-bottom: 160px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 14px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.form-group input[type="file"] {
  padding: 3px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #042715;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #b2dba8;
  color: black;
}
.hero-border{
  width: 100%;
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  margin-bottom: 160px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 80px solid #A1C398 ;
  
}

@media (max-width: 767px) {
  .border{
    border: 80px solid #A1C398 ;
    
  }
}
